---

import ThemeToggle from './ThemeToggle.astro'

const { settings } = Astro.props

---

<header class="wrapper bg-loop font-semibold">

  <!-- Wrapper -->
  <div class="bs-container py-6 flex justify-between items-center">

    <!-- Logo -->
    <a class="flex xl:min-w-32 group" href="/" aria-label={ settings.title + ' - Home' }>

      <img src="https://fab.city/wp-content/uploads/2024/05/fab-city-logo-website-ultra-reduced.png" alt="Fab City Logo" class="h-12" />

    </a>

    <!-- Nav -->
    <nav class="hidden col-span-6 md:flex mx-auto self-stretch lg:gap-2">

      <!-- Links -->
      { settings.nav.map( item =>

        <a class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0" href={item.link}>
          { item.title }
        </a>

      )}

      <ThemeToggle />

    </nav>

    <!-- CTA -->


  </div>

</header>
